# Хост приложения:
APP_HOST=spacefox.docker.local

# Путь внутри контейнера, куда docker-compose монтирует корень репозитория (./:${APP_PATH})
APP_PATH=/pub/www/app

# Доступы для СУБД:
DB_HOST=database
DB_DATABASE=sitemanager
DB_USER=login
DB_PASSWORD=pass
DB_ROOT_PASSWORD=secret

# Если установить значение 1, то файл cron_events.php будет выполняться раз в минуту
# Если установить значени 0, то файл cron_events.php не будет выполняться
BITRIX_CRON_ENABLED=0

# Если переменная MAILPIT_ENABLED задана, допустимы только значения 0 или 1
# Если значение 1, то mailpit будет перехватывать письма
# Если значение 0, то mailpit не будет перехватывать письма
# (контейнер mailpit обязательно нужен)
MAILPIT_ENABLED=0
MAILPIT_HOST=mailpit:1025
